.moviePageForm {
    width: 400px;
    position: relative;
    margin: 0 auto;
}

.inputSubmitBtn {
    position: absolute;
    top: 12px;
    right: 20px;
    background-color:aliceblue;
    border: none;
}

.moviePageInput {
    width: 400px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    padding: 10px;
    padding-right: 35px;
    font-size: large;
    background-color: aliceblue;
}