.linkToDetails {
    text-decoration: none;
}

.moviePageItem {
    width: 600px;
    height: 400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    border-radius: 12px;
    padding: 5px;
}

.movieName {
    margin: 0;
    color: aliceblue;
}

.movieImage {
    border-radius: 12px;
}